@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700;800;900&display=swap');

h1 {
    font-family: 'Roboto Mono';
    color: white;
}

h2 {
    font-family: 'Roboto Mono';
    color: gray;
    opacity: 0.65;
}

.language{
    padding-top: 5.5em;
}